.about{
    padding: 4rem 20% 0 20%;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.about .about-left-container h1{
    color: #F4CE14;
    padding-top: 50px;
}

.about .about-left-container h3{
    color: #495E57;
    padding-bottom: 50px;
}

.about-right-container{
    display: flex;
}

.card {
    height: 50vh;
    width: 250px;
}

#item-1, #item-2 {
    height: 50vh;
    width: 250px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#item-1 {
    z-index: 1;
    transform: translateX(+60px) translateY(+60px);
    opacity: 90%;
}

#item-2 {
    z-index: 2;
}

@media screen and (max-width: 768px){
    .about{
        flex-direction: column-reverse;
        height: 100%;
        padding-left: 2.5rem;
        margin-bottom: 10vh;
    }

    .about-right-container{
        margin-top: 1vh;
        margin-bottom: 7vh;
        align-items: center;
        justify-content: center;
        left: 0;
    }

    .card{
        align-items: center;
    }

    #item-1, #item-2{
        height: 30vh;
        width: 150px;
    }
}