@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Markazi Text', sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: 'karla', sans-serif;
  font-size: 20px;
}

button {
  padding: 10px;
  background-color: #F4CE14;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 290px 20px 290px;
}

.logo {
  padding-right: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: 'karla', sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.main .hero {
  background-color: #495E57;
  height: 60vh;
  padding: 0px 290px 0px 290px;
  margin-bottom: 12vh;
  display: flex;
  justify-content: space-around;
}

.left-container {
  margin-right: 10%;
  padding-top: 1.7rem;
}

.left-container h1 {
  color: #F4CE14;
  font-weight: lighter;
}

.left-container h3, .left-container p {
  color: white;
  font-weight: lighter;
}

.left-container button{
  margin-top: 30%;
}

.hero .right-container {
  padding-right: 0;
}

.right-container img{
  margin-top: 80px;
  max-height: 60vh;
  max-width: 60vw;
  border-radius: 20px;
}

.menu {
  padding: 20px 290px 0px 290px;
  height: 100vh;
}

.menu .menu-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.menu .menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 50px;
}

.menu-container .menu-card {
  background-color: #EDEFEE;
  border-radius: 20px;
  box-shadow: 20px black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-image img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.menu-price{
  display: flex;
  justify-content: space-between;
}

.menu-price, .menu-description, .menu-order {
  padding: 10px 20px;
}

.menu-order {
  margin-top: auto;
}

.testimonials{
  height: 80vh;
  background-color: #495E57;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 290px 0px 290px;
}

.testimonial-container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.testimonial-card {
  background-color: #EDEFEE;
  padding: 20px;
  height: 200px;
  width: 200px;
}

.testimonial-card h3, .testimonials h2 {
  font-weight: lighter;
}

.name {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.user {
  border: solid black;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 20px;
}

.about{
  padding: 80px 290px 0px 290px;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.about .about-left-container h1{
  color: #F4CE14;
  padding-top: 50px;
}

.about .about-left-container h3{
  color: #495E57;
  padding-bottom: 50px;
}

.about-right-container{
  display: flex;
}

.card {
  height: 50vh;
  width: 250px;
}

#item-1, #item-2 {
  height: 50vh;
  width: 250px;
  object-fit: cover;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#item-1 {
  z-index: 1;
  transform: translateX(+60px) translateY(+60px);
  opacity: 90%;
}

#item-2 {
  z-index: 2;
}

.footer{
  background-color: #202124;
  padding: 80px 290px 80px 290px;
  display: flex;
  justify-content: space-between;
}

.footer-logo img{
  height: 150px;
}

.footer h3 {
  color: white;
  font-weight: lighter;
  padding-bottom: 15px;
}

.footer p, .footer a {
  font-weight: lighter;color: #6d6d6d;
}

.doormat-navigation, .social-media {
  display: flex;
  flex-direction: column;
}